<script setup lang="ts">
  import DataTable from "primevue/datatable";
  import Column from "primevue/column";
  import Button from "primevue/button";

  const items = [
    { model: "Mark2", title: "How to stay true" },
    { model: "Skyline", title: "How to repair nissan" },
    { model: "Stagea", title: "How to be cool" },
  ];
</script>

<template>
  <div class="cars-table">
    <DataTable :value="items" responsive-layout="scroll">
      <Column field="model" header="Model" />
      <Column field="title" header="Title" />
      <Column
        v-if="$checkHasScope([$scopes.CAN_CREATE_CARS, $scopes.CAN_EDIT_CARS, $scopes.CAN_DELETE_CARS])"
        header="Actions"
      >
        <template #body>
          <Button
            v-if="$checkHasScope([$scopes.CAN_CREATE_CARS])"
            label="Create"
            class="p-button-outlined p-button-success"
          />
          <Button
            v-if="$checkHasScope([$scopes.CAN_EDIT_CARS])"
            label="Edit"
            class="p-button-outlined p-button-warning"
          />
          <Button
            v-if="$checkHasScope([$scopes.CAN_DELETE_CARS])"
            label="Delete"
            class="p-button-outlined p-button-danger"
          />
        </template>
      </Column>
    </DataTable>
  </div>
</template>

<style></style>
