<script setup lang="ts">
  import { useLifecycleLogger } from "@/modules/common/hooks/lifecycleLogger";
  import BooksTable from "@/modules/books/components/BooksTable.vue";

  const name = "Books page";
  useLifecycleLogger({ name });
</script>

<template>
  <div class="page">
    <BooksTable class="mt-20" />
  </div>
</template>

<style scoped></style>
