<script setup lang="ts"></script>
<template>
  <footer class="the-footer w-full flex items-center p-3 border-t-2 bg-sky-100">the footer</footer>
</template>

<style lang="scss">
  .the-footer {
    min-height: $footer-height;
    max-height: $footer-height;
    height: $footer-height;
  }
</style>
