<script setup lang="ts">
  import { RouteNamesEnum } from "@/router/router.types";
  import { AccessScopesEnum } from "@/modules/auth/auth.types";
  import { useAuthService } from "@/modules/auth/auth.service";

  const items: { routeName: RouteNamesEnum; scopes: AccessScopesEnum[] }[] = [
    { routeName: RouteNamesEnum.home, scopes: [AccessScopesEnum.LOGGED_IN] },
    { routeName: RouteNamesEnum.cars, scopes: [AccessScopesEnum.CAN_READ_CARS] },
    { routeName: RouteNamesEnum.books, scopes: [AccessScopesEnum.CAN_READ_BOOKS] },
  ];

  const { checkHasScope } = useAuthService();

  const itemsToRender = items.filter(item => checkHasScope(item.scopes));
</script>
<template>
  <div class="">
    <RouterLink
      v-for="item in itemsToRender"
      :key="item.routeName"
      class="m-2 underline text-amber-600"
      :to="{ name: item.routeName }"
    >
      {{ item.routeName }}
    </RouterLink>
  </div>
</template>
