<script setup lang="ts">
  import { useLifecycleLogger } from "@/modules/common/hooks/lifecycleLogger";
  import CarsTable from "@/modules/cars/components/CarsTable.vue";

  const name = "Cars page";
  useLifecycleLogger({ name });
</script>

<template>
  <div class="page">
    <CarsTable class="mt-20" />
  </div>
</template>

<style scoped></style>
