<script setup lang="ts">
  import { useLifecycleLogger } from "@/modules/common/hooks/lifecycleLogger";

  const name = "HomePage";
  useLifecycleLogger({ name });
</script>

<template>
  <div class="page flex justify-center">
    <div class="mt-20">{{ name }}</div>
  </div>
</template>

<style scoped></style>
