<script setup lang="ts">
  import DataTable from "primevue/datatable";
  import Column from "primevue/column";
  import Button from "primevue/button";
  import { useAuthService } from "@/modules/auth/auth.service";
  //TODO улучшить
  import { AccessScopesEnum } from "@/modules/auth/auth.types";

  const items = [
    { author: "Mirt", title: "How to use access guards" },
    { author: "Anna", title: "How to create picture" },
    { author: "Sanya", title: "How to ask everything" },
  ];

  const { checkHasScope } = useAuthService();
</script>

<template>
  <div class="books-table">
    <DataTable :value="items" responsive-layout="scroll">
      <Column field="author" header="Author" />
      <Column field="title" header="Title" />
      <!-- TODO улучшить-->
      <Column
        v-if="
          checkHasScope([
            AccessScopesEnum.CAN_CREATE_BOOKS,
            AccessScopesEnum.CAN_EDIT_BOOKS,
            AccessScopesEnum.CAN_DELETE_BOOKS,
          ])
        "
        header="Actions"
      >
        <template #body>
          <Button
            v-if="checkHasScope([AccessScopesEnum.CAN_CREATE_BOOKS])"
            label="Create"
            class="p-button-outlined p-button-success"
          />
          <Button
            v-if="checkHasScope([AccessScopesEnum.CAN_EDIT_BOOKS])"
            label="Edit"
            class="p-button-outlined p-button-warning"
          />
          <Button
            v-if="checkHasScope([AccessScopesEnum.CAN_DELETE_BOOKS])"
            label="Delete"
            class="p-button-outlined p-button-danger"
          />
        </template>
      </Column>
    </DataTable>
  </div>
</template>

<style></style>
