<script setup lang="ts">
  import TheHeader from "@/components/TheHeader.vue";
  import TheFooter from "@/components/TheFooter.vue";
  import TheNavMenu from "@/components/TheNavMenu.vue";
</script>

<template>
  <TheHeader />
  <main class="app-layout-default-main p-2">
    <TheNavMenu />
    <slot />
  </main>
  <TheFooter />
</template>

<style lang="scss">
  .app-layout-default-main {
    margin-top: calc($header-height);
    min-height: calc(100vh - $header-height - $footer-height);
  }
</style>
