<script setup lang="ts">
  import TheNavMenu from "@/components/TheNavMenu.vue";
</script>

<template>
  <div>
    <TheNavMenu />
    <main class="app-layout-error-main">
      <div class="wrapper w-full h-screen flex justify-center items-center">
        <slot />
      </div>
    </main>
  </div>
</template>
